@import "tailwindcss";

@theme {
  ----breakpoint-xs: 30rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141312;
    --foreground: #ededed;
    --accent: #d79921;
    --muted: #171717;
    --muted-foreground: #a3a3a3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), system-ui, sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.bg-background {
  background-color: var(--background);
}

.border-opacity-20 {
  border-color: var(--foreground);
  border-opacity: 0.2;
}
